.main-TypesofLoan
{
    height: 70vh;
    width: 100vw;
    font-weight: bold;
    font-family: Thicccboi, sans-serif;
    margin-top: 15vh;
    padding: 0vh 15vh;
}

.main-TypesofLoan h1
{
    height:auto;
    width: auto;
    font-size: 50px;
}

.main-container-typeloan
{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.typeloan-logo-content-box
{
    height: 40vh;
    width: 400px;
    transition: 0.5s ease-in-out;
    padding-top: 4vh;
}

.typeloan-logo-content-box:hover
{
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.154) 0px 2px 15px 0px;
}

.typeloan-logo-content-box-logo
{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4vh;
    justify-content: center;
}


.typeloan-logo-content-box-logo span
{
    height: 75px;
    width: 75px;
    background-color: #d5e7ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison
{
    background-color: #FFECE4 !important;
}
.succeed
{
    background-color: #F4EFF3 !important;
}


.typeloan-logo-content-box-logo img
{
        height: 45px;
        width: 45px;
}

.typeloan-logo-content-box-border
{
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(12, 0, 174) 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

.typeloan-logo-content-box-content
{
    height: fit-content;
    width: 100%;
    padding-top: 20px;
    font-family: sans-serif !important;
}

.typeloan-logo-content-box-content h2
{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.typeloan-logo-content-box-content p
{
    width: 100%;
    padding: 2vh 5vh;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #797979;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
}